.navList {
	display: flex;
	flex-direction: row;
	justify-content: left;
	color: black;
	position: fixed;
	top: 0;
	bottom: auto;
}

#resume {
	padding-left: 700px;
}
#resumeLink,
#pfLink,
#contactLink,
#aboutLink,
#homeLink {
	text-decoration: none;
	color: black;
}

.navList {
	margin-left: 30px;
}

#aboutLink,
#pfLink,
#contactLink {
	margin-left: 25px;
}

@media screen and (max-width: 1000px) {
	#resume {
		padding-left: 30px;
	}
}
