.navList {
	display: flex;
	flex-direction: row;
	justify-content: left;
	color: black;
	position: fixed;
	top: 0;
	bottom: auto;
}

#resume {
	padding-left: 700px;
}
#resumeLink,
#pfLink,
#contactLink,
#aboutLink,
#homeLink {
	text-decoration: none;
	color: black;
}

#aboutLink,
#pfLink,
#contactLink {
	margin-left: 35px;
}

#homeLink {
	margin-left: 20px;
}

@media screen and (max-width: 1000px) {
	#resume {
		padding-left: 30px;
	}
}

@media screen and (max-width: 600px) {
	#aboutLink,
	#pfLink,
	#contactLink {
		margin-left: 15px;
	}

	#homeLink {
		margin-left: 10px;
	}
}
